<!-- One -->
<section id="one" class="wrapper style2 fullscreen spotlights">
    <section>
        <div class="content">
            <div class="inner">
                <h2>Select your Lucky Number</h2>
                <p>Select <b>4 numbers</b> from below:</p>
                <ul class="numbers-list">
                    <ng-container *ngFor="let number of numbers">
                        <li *ngIf="!isDisabled(number)">
                            <a (click)="selectNumber(number)"> {{number}}</a>
                        </li>
                        <li *ngIf="isDisabled(number)">
                            <a style="background:#312450"> {{number}}</a>
                        </li>
                    </ng-container>
                </ul>
                <ul class="actions">
                    <li><a (click)="goToDetails()" class="button scrolly">Next Step</a></li>
                    <li><a (click)="resetNumbers()" class="button">Reset Numbers</a></li>
                </ul>

                <span *ngIf="selectedNumberCommaSeparated"> The number you selected: {{selectedNumberCommaSeparated}} </span>
            </div>
        </div>
    </section>
</section>