<!-- Three -->
<section id="three" class="wrapper style3 fade-up">
    <div class="inner">
        <div class="success-block">
            <b>Congratulations Niraj!</b> You entry has been received. Please follow the following instructions to validate
            your entry.
        </div>
        <div class="features">
            <section>
                <span class="icon major">1</span>
                <h3>Send Fund (NPR 10 only)</h3>
                <p>Please send Rs. 10 via <b>eSewa or Khalti</b> to <b>9849124665</b>. <span class="p-break">For any questions,
                        message us on facebook messenger or call 9849124665.</span> <span class="p-break"><b>10%</b>
                        of the total fund raised will be used to help a poor and needy person which will be recorded and uploaded on YouTube.</span>
                    <span class="p-break"><b>90%</b> of the total fund will given to the <b>Lucky Draw Winners!</b></span></p>
            </section>
            <section>
                <span class="icon major">2</span>
                <h3>Verify your request</h3>
                <p>After you've sent NPR 10 to eSewa or Khalti ID 9849124665, please <b>message us on</b> <a href="https://www.facebook.com/Lucky-Draw-Online-Nepal-294677057928707/"
                        target="_blank" rel="noopener">facebook</a> or <b>email us at</b> <a href="mailto:luckydraw.khojam@gmail.com">luckydraw.khojam@gmail.com</a>
                    to let us know about your fund transfer. <span class="p-break">Please don't forget to communicate with
                        us about your eSewa or Khalti ID from which you've sent the fund so that we can verify your details.
                    </span></p>
            </section>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quae, id sit corrupti autem temporibus quis omnis
            numquam harum. Libero possimus iusto molestias ipsa commodi perferendis provident quas, facilis dolore.</p>
        <!-- 				<ul class="actions">
            <li><a href="generic.html" class="button">Learn more</a></li>
        </ul> -->
    </div>
</section>